---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  content: CollectionEntry<"blog">["data"]["content"];
  images: CollectionEntry<"blog">["data"]["images"];
}

const { content, images } = Astro.props;
---

{
  content?.tips && (
    <section class="recipe-tips" aria-labelledby="recipe-tips-heading">
      <h2 id="recipe-tips-heading" class="recipe-tips__heading">
        {content.tips.title}
      </h2>

      <div class="recipe-tips__grid">
        {content.tips.items.map((tip) => (
          <article class="recipe-tips__item">
            <h3 class="recipe-tips__item-title">{tip.title}</h3>
            <p class="recipe-tips__item-text">{tip.text}</p>
          </article>
        ))}
      </div>

      {images?.content &&
        images.content
          .filter((img) => img.position === "tips_section")
          .map((img) => (
            <figure class="recipe-tips__image-wrapper">
              <Image
                src={img.src}
                alt={img.alt}
                width={img.width || 800}
                height={img.height || 600}
                class="recipe-tips__image"
                loading="lazy"
                format="webp"
                quality={85}
              />
              {img.caption && <figcaption class="recipe-tips__caption">{img.caption}</figcaption>}
            </figure>
          ))}
    </section>
  )
}
