---
import "../styles/global.css";

const { frontmatter, title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{frontmatter.description}" />
    <meta name="keywords" content="{frontmatter.keywords}" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />

    <meta property="og:title" content="{title}" />
    <meta property="og:url" content="{frontmatter.canonical}" />
    <meta property="og:description" content="{frontmatter.description}" />
    <meta property="og:image" content="{frontmatter.image-url}" />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href="{frontmatter.canonical}" />

    <style>
      * {
        font-family: Faustina, serif;
        font-size: 16px;
        color: var(--color-neutral-700);
        margin: 0;
        padding: 0;
      }
    </style>

    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
