---
import "../styles/global.css";

const { frontmatter = {} } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={frontmatter.metaDescription} />
    <meta name="keywords" content={frontmatter.metaKeywords} />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />

    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:url" content={frontmatter.metaCanonical} />
    <meta property="og:description" content={frontmatter.metaDescription} />
    <meta property="og:image" content={frontmatter.featuredImage} />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={frontmatter.metaCanonical} />

    <title>{frontmatter.title}</title>
    <slot name="head" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
